<h1>People</h1>
<!-- <ul>
	<li><a href="#">A-C</a></li>
	<li><a href="#">D-F</a></li>
	<li><a href="#">G-J</a></li>
	<li><a href="#">K-N</a></li>
	<li><a href="#">O-R</a></li>
	<li><a href="#">S-T</a></li>
	<li><a href="#">U-Z</a></li>
</ul> -->
<section>
	<article class="users">
		<% @users.each do |user| %>
		<a href="/users/<%= user.id %>" class="user">
			<%= gravatar_image_tag(user.email, :alt => "#{user.first_name}") %>
			<p>Name: <%= user.first_name %></p>
			<p>Affiliation: N/A</p>
			<p>Role: N/A</p>
		</a>
		<% end %>
	</article>

		<div class="people_badges">
			<img src="">
			<img src="">
			<img src="">
		</div>
</section>
