<!doctype html>
<html>
	<head>
		<title>Edit Your Profile</title>
	</head>
		<body>
			<p class="lead">
			<img src="/app/assets/images/1871-logo.png" />

		</p>
		<h1>Edit Your Profile</h1>
		<div class="profile_avatar">
			<a href="#">User Avatar</a>
			<a href="#"><p>Upload a Photo</p></a>
			<a href="#"><p>Add Gravatar</p></a>
		</div>
		<div class="profile_info-skills">
			<!-- Begin Ruby Text -->
			<p>Full Name: Mike Adeleke</p>
			<p>Email: mike@gmail.com</p>
			<!-- End Ruby Text -->
			<h3>Skills</h3>
			<select>
				<h3>Skills here</h3>
				<!-- Begin skills -->
				<option value=""></option>
				<option value=""></option>
				<option value=""></option>
				<option value=""></option>
				<option value=""></option>
				<option value=""></option>
				<option value=""></option>
				<!-- End skills -->
			</select>
			<select>
				<h3>Level</h3>
				<!-- Begin level -->
				<option value=""></option>
				<option value=""></option>
				<option value=""></option>
				<!-- End level -->
			</select>
			<form>
				<input type="submit" value="Add skill">
			</form>
		</div>
		<div class="profile_info-social">
			<form>
				<h3>Social media</h3>
				<!-- social input -->
				<input type="text" name="Facebook"><br>
				<input type="text" name="Twitter"><br>
				<input type="text" name="LinkedIn"><br>
				<input type="text" name="GitHub"><br>
				<input type="text" name="Dribbble"><br>
				<input type="text" name="Other URL"><br>
				<!-- end social input -->
			</form>
		</div>
		<div class="profile_info_company">
			<h3>Companies</h3>
			<select>
				<!-- Begin companies -->
				<option value=""></option>
				<option value=""></option>
				<option value=""></option>
				<option value=""></option>
				<option value=""></option>
				<option value=""></option>
				<option value=""></option>
				<!-- End companies -->
			</select>
		</div>
		<div class="profile_info_describe">
			<textarea> Lorem ipsum fjkdbj dsksjk fsdjkd n dsb ajds dsbdsds dsbssd dskbdsdjsdbd djfhdsds dnbdshdsbhjd cdnbhdsncjdsj dsnbdsjd dcbsdvdjs ewuihiwd sdhdhusdisdn csjbdjsdcvdsbuivsd sjbcvjk vjsvsnbvsbjv snbvns s
			</textarea>
		</div>
	</body>
</html>
