<p class="lead">
	<img src="/app/assets/images/1871-logo.png" />

</p>
<div class="user-sign-in">	
	<p>Email</p>
	<p>Password</p>
	<form>
		<input type="submit" value="Sign In">
	</form>
</div>
<div class="user-sign-up">
	<p>New to the 1871 Portal? Sign up!</p>
	<p>Email</p>
	<p>Password</p>
	<p>Full Name</p>
	<form>
		<input type="submit" value="Sign Up">
	</form>
</div>