<div class="row">
	<div class="span6">
		<article class="home-article">
			<h2>Welcome to the 1871 Portal!</h2>
			<p>
				Sign in to see fellow 1871'ers or create an account!
			</p>
		</article>
	</div>
	<div class="span6">
		<div class="user-sign-in">	
			<h3>Sign In</h3>
			<form>
				<div class="home-input">
					<input type="email" placeholder="Enter Email" name="email">
				</div>
				<div class="home-input">
					<input type="password" placeholder="Enter Password" name="password">
				</div>
				<div class="home-input">
					<input type="submit" value="Sign In">
				</div>
			</form>
		</div>
		<div class="user-sign-in">	
			<h3>Create an Account</h3>
			<form>
				<div class="home-input">
					<input type="email" placeholder="Enter Email" name="email">
				</div>
				<div class="home-input">
					<input type="text" placeholder="Enter Full Name" name="name">
				</div>
				<div class="home-input">
					<input type="password" placeholder="Enter Password" name="password">
				</div>
				<div class="home-input">
					<input type="password" placeholder="Confirm Password" name="password">
				</div>
				<div class="home-input">
					<input type="submit" value="Sign In">
				</div>
			</form>
		</div>
	</div>
</div>