<h1>People</h1>
<ul>
	<li><a href="#">A-C</a></li>
	<li><a href="#">D-F</a></li>
	<li><a href="#">G-J</a></li>
	<li><a href="#">K-N</a></li>
	<li><a href="#">O-R</a></li>
	<li><a href="#">S-T</a></li>
	<li><a href="#">U-Z</a></li>		
</ul>
<section>
	<article>
		<img src="#">
		<p>Name:</p>
		<p>Affiliation:</p>
		<p>Role:</p>
		<div class="people_badges">
			<img src="">
			<img src="">
			<img src="">
		</div>
	</article>
	<article>
		<img src="#">
		<p>Name:</p>
		<p>Affiliation:</p>
		<p>Role:</p>
		<div class="people_badges">
			<img src="">
			<img src="">
			<img src="">
		</div>
	</article>
	<article>
		<img src="#">
		<p>Name:</p>
		<p>Affiliation:</p>
		<p>Role:</p>
		<div class="people_badges">
			<img src="">
			<img src="">
			<img src="">
		</div>
	</article>
</section>