<p class="lead">
	<img src="/app/assets/images/1871-logo.png" />

</p>
<div class="signup-thanks">
	<p>Thank you for signing up!</p>
	<p>Please check your inbox, and click the link to authenticate your neew account!</p>
	<form>
		<input type="submit" value="Back to Home">
	</form>
</div>