// ------------------------- *****
// Styles for 1871 Portal
// ------------------------- *****

header {
  height: 150px;
  padding: 0px 0;
  overflow: auto;
  .container {
    border-bottom: 1px dotted #ccc;
    padding-bottom: 23px;
    position: relative;
    padding-top: 40px;
    overflow: auto;
  }
  .logo {
    background: url('/assets/1871-small.png') no-repeat 0 0;
    padding-left: 80px;
    padding-top: 15px;
    display: block;
    height: 55px;
    margin-top: 10px;
    width: 130px;
    float: left;
    font-size: 34px;
    font-family: 'Days One', sans-serif;
  }
  nav {
    display: block;
    float: right;
    margin-top: 20px;
    padding: 10px;
    background: #eee;
    border: 1px solid #ddd;
    a {
      display: inline-block;
      padding: 0 10px;
      color: #222;
      font-size: 14px;
    }
  }
  .welcome {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 280px;
    background: #eee;
    padding: 10px;
    font-size: 12px;
    img {
      height: 20px;
      width: 20px;
      margin-left: 1px;
      border: 1px solid #fff;
      box-shadow: 0 0 2px rgba(0,0,0,0.5);
      border-radius: 15px;
    }
  }
}

.home-article {
  margin-top: 20px;
}


.user-sign-in {
  margin-top: 20px;
  padding: 15px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 2px;
  h3 {
    margin-top: 0;
    font-size: 20px;
  }
}

.user {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  float: left;
  width: 29%;
  margin-right: 15px;
  color: #222;
  &:hover {
    background: #eee;
    color: #222;
    text-decoration: none;
    border: 1px solid #000;
  }
  img {
    float: left;
    border: 1px solid #222;
    margin-right: 10px;
  }
}


footer {
  height: 100px;
  background: #eee;
  padding-top: 15px;
  margin-top: 40px;
}

.users {
  margin-top: 20px;
}

h1 {
  font-size: 22px;
}
















